/* =Main
===================================================== */

// Main
//
// Main section of the site
//
// Markup: main.html
//
// Style guide: 6.main


@mixin container-center {

  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

}

%content-padding {
  padding: ($container-unit-small * 1.5) $container-unit-small;

  @include breakpoint(medium) {

    padding: ($container-unit-medium * 1.5) $container-unit-medium;

  }

  @include breakpoint(large) {

    padding: ($container-unit-large * 1.5) $container-unit-large;

  }

  @include breakpoint(extra-large) {

    padding: ($container-unit-large * 1.5) 0;

  }
}

/*
 * Main
 *
 * Container for primary and secondary content
 * <div id="main"> ... </div>
 */

#main {

}


/*
 * Primary content
 *
 * Container for main content
 * <div id="primary" class="site-content"> ... </div>
 */

#primary {
  .navigation, #comments {
    @include container-center();

    padding-left: $container-unit-small;
    padding-right: $container-unit-small;
  }
}


/*
 * Content
 *
 * Container for posts and pages
 * <div id="content" role="main"> ... </div>
 */

#content {
  padding: ($container-unit-small * 1.5) 0;

  @include breakpoint(medium) {

    padding: ($container-unit-medium * 1.5) 0;

  }

  @include breakpoint(large) {

    padding: ($container-unit-large * 1.5) 0;

  }

  @include breakpoint(extra-large) {

    padding: ($container-unit-large * 1.5) 0;

  }
}



/*
 * Secondary content
 *
 * Container for secondary content (widgets)
 * <div id="secondary" class="widget-area"> ... </div>
 */

#secondary {

}

.single,
.page,
.blog {
  .entry-content{
    > *:not(.alignleft):not(.alignright):not(.alignwide):not(.alignfull):not(.is-style-wide){
      @include container-center();

      padding-left: $container-unit-small;
      padding-right: $container-unit-small;

      text-align: left;

      &.ul, &.ol {
        padding-left: 2rem;
      }
    }

    *.alignwide {
      @include container-center();
      max-width: $container-max-width-wide;

      padding-left: $container-unit-small;
      padding-right: $container-unit-small;
    }
  }
  .entry-footer{
    @include container-center();
  }
}



/*
 * Primary sidebar
 *
 * Container for primary sidebar
 * <div id="primary-sidebar"> ... </div>
 */

#primary-sidebar {

  .widget {

    // @include container-padding(2);

  }

}

/*
 * After header widgets
 *
 * Container for after header widgets
 * <div id="after-header-widgets" class="widget-area front-page"> ... </div>
 */

#after-header-widgets {

  @include container-center();

  text-align: left;

}


/*
 * Before content widgets
 *
 * Container for before content widgets
 * <div id="before-content-widgets" class="widget-area front-page"> ... </div>
 */

#before-content-widgets {

  @include container-center();

  text-align: left;

}

#content-widgets {

  margin-top: 0 - ($container-unit-small * 1.5);
  margin-bottom: $container-unit-small * 1.5;

  @include breakpoint(medium) {

    margin-top: 0 - ($container-unit-medium * 1.5);
    margin-bottom: $container-unit-medium * 1.5;

  }

  @include breakpoint(large) {

    margin-top: 0 - ($container-unit-large * 1.5);
    margin-bottom: $container-unit-large * 1.5;

  }

}
