/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

// Socia Media Icons

.jetpack_widget_social_icons ul.size-small a{
  width: 18px!important;
  height:18px!important;
}

.site-header {

  position: relative;

  background-color: $site-hero-background;

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}

.custom-header { }
