/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

// Socia Media Icons

.jetpack_widget_social_icons ul.size-small a{
  width: 18px!important;
  height:18px!important;
}

.site-header {

  position: relative;

  background-image: $site-hero-path;
  background-color: $site-hero-background;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($site-hero-background, $site-hero-overlay);
  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}

.custom-header { }
