/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description.
//
// Markup: branding.html
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <header id="masthead" class="site-header" role="banner"> ... </header>
 */

.site-header {

  background-color: $color-brand-tertiary;

}

.site-header .site-branding {

  position: relative; // Add position: relative to keep the light beams from leaking out
  overflow: hidden; // Add overflow: hidden to keep light beams from leaking out
  margin-bottom: 0!important; // Add this to override inline styling

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  body:not(.home) & {
    padding: $container-unit-small;

    @include breakpoint(medium) {
      padding: $container-unit-medium $container-unit-medium;
    }
  }

  .home & {
    @include container-padding(4.5);
  }
}

.site-title a {
  display: block;
  width: ($site-logo-width * $site-logo-proportion);
  height: ($site-logo-height * $site-logo-proportion);
  margin-left: auto;
  margin-right: auto;
  text-indent: -99999px;
  text-align: left;
  overflow: hidden;

  background-repeat: no-repeat;
  background-image: $site-logo-white-path;
  background-size: 100%;
}

.site-description {
  margin: 0;
  margin-top: $unit-xs;

  line-height: ms(1);
  font-family: $font-headline;
  font-weight: $bold;
  font-size: ms(1);
  text-transform: none;
  color: white;
}

@include breakpoint(medium) {
  body:not(.home) .custom-header {
    .site-branding {
      position: relative;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .site-title a {
    }

    .site-description {
    }
  }
}
